<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MF - Skills</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%- include('../../partials/includes'); %>
  </head>
  <body>
    <%- include('navbar'); %>
    <div class="container">
      <div class="skills mb-4">
        <h5 class="label">HTML <img src="/images/html.svg" alt="html-logo"> </h5>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Expert</div>
        </div>      
      </div>
      <div class="skills mb-4">
        <h5 class="label">CSS <img src="/images/css.svg" alt="css-logo"> </h5>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Intermediate</div>
        </div>
      </div>
      <div class="skills mb-4">
        <h5 class="label">Javascript <img src="/images/javascript.svg" alt="javascript-logo"> </h5>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Intermediate</div>
        </div>
      </div>
      <div class="skills mb-4">
        <h5 class="label">Java <img src="/images/java.svg" alt="java-logo"> </h5>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Intermediate</div>
        </div>
      </div>
      <div class="skills mb-4">
        <h5 class="label">C <img src="/images/c.svg" alt="c-logo"> </h5>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Expert</div>
        </div>
      </div>
      <div class="skills mb-4">
        <h5 class="label">PHP <img src="/images/php.svg" alt="php-logo"> </h5>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Beginner</div>
        </div>
      </div>
      <div class="skills mb-4">
        <h5 class="label">MySQL <img src="/images/mysql.svg" alt="mysql-logo"> </h5>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Beginner</div>
        </div>
      </div>
      <div class="skills mb-4">
        <h5 class="label">Rust <img src="/images/rust.svg" alt="rust-logo"> </h5>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Beginner</div>
        </div>
      </div>
      <div class="skills mb-4">
        <h5 class="label">Python <img src="/images/python.svg" alt="python-logo"> </h5>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Beginner</div>
        </div>
      </div>
    </div>
  </body>
</html>