<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MF - Skills</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%- include('../../partials/includes'); %>
  </head>
  <body>
    <%- include('navbar'); %>
    <div class="container">
      <h4 class="title">Programming Languages that i know!</h4>
      <div class="row">
        
        <div class="col">
          <div class="skills mb-4 blocks">
            <h5 class="label"><span id="label-id">HTML</span> <img src="/images/html.svg" alt="html-logo"> </h5>
            <span class="bits">1</span>
            <span class="bits">1</span>
            <span id="level"> - Expert</span>
          </div>
          <div class="skills mb-4 blocks">
            <h5 class="label"><span id="label-id">CSS</span> <img src="/images/css.svg" alt="css-logo"> </h5>
            <span class="bits">1</span>
            <span class="bits">0</span>
            <span id="level"> - Intermediate</span>
          </div>
          <div class="skills mb-4 blocks">
            <h5 class="label"><span id="label-id">Javascript</span> <img src="/images/javascript.svg" alt="javascript-logo"> </h5>
            <span class="bits">0</span>
            <span class="bits">1</span>
            <span id="level"> - Beginner</span>
          </div>
        </div>

        <div class="col">
          <div class="skills mb-4 blocks">
            <h5 class="label"><span id="label-id">Java</span><img src="/images/java.svg" alt="java-logo"> </h5>
            <span class="bits">1</span>
            <span class="bits">0</span>
            <span id="level"> - Intermediate</span>
          </div>
          <div class="skills mb-4 blocks">
            <h5 class="label"><span id="label-id">C/C++</span><img src="/images/c.svg" alt="c-logo"> </h5>
            <span class="bits">1</span>
            <span class="bits">0</span>
            <span id="level"> - Intermediate</span>
          </div>
          <div class="skills mb-4 blocks">
            <h5 class="label"><span id="label-id">PHP</span><img src="/images/php.svg" alt="php-logo"> </h5>
            <span class="bits">0</span>
            <span class="bits">1</span>
            <span id="level"> - Beginner</span>
          </div>
        </div>

        <div class="col">
          <div class="skills mb-4 blocks">
            <h5 class="label"><span id="label-id">MySQL</span><img src="/images/mysql.svg" alt="mysql-logo"> </h5>
            <span class="bits">0</span>
            <span class="bits">1</span>
            <span id="level"> - Beginner</span>
          </div>
          <div class="skills mb-4 blocks">
            <h5 class="label"><span id="label-id">Rust</span><img src="/images/rust.svg" alt="rust-logo"> </h5>
            <span class="bits">0</span>
            <span class="bits">1</span>
            <span id="level"> - Beginner</span>
          </div>
          <div class="skills mb-4 blocks">
            <h5 class="label"><span id="label-id">Python</span><img src="/images/python.svg" alt="python-logo"> </h5>
            <span class="bits">0</span>
            <span class="bits">1</span>
            <span id="level"> - Beginner</span>
          </div>
        </div>

      </div>
    </div>
    <div class="container-flex" id="container-2">
      <h2 class="title">LANGUAGES</h2>
      <div class="row">
        <div class="col">
          <h4 class="col">Italian</h4>
          <p>I am italian native speaker!</p>
        </div>
        <div class="col">
          <h4 class="col">English</h4>
          <p>I have B1 English certication, so i can speak and write good English!!</p>
        </div>
      </div>
    </div>
  </body>
</html>