<nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav">
  <div class="container">
    <a class="navbar-brand nav-L" id="home-L" href="/">>$ cd /home/</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <a class="nav-link nav-L" href="/skills">Skills</a>
        <a class="nav-link nav-L" href="/members">Members</a>
        <a class="nav-link nav-L" href="/aboutme">About me</a>
        <a class="nav-link nav-L" href="/contacts">Contacts</a>
        <button class="btn btn-sm btn-outline-secondary" id="become-a-member">BECOME A MEMBER</button>
      </ul>
    </div>
  </div>
</nav>