<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MF - Projects</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%- include('../../partials/includes'); %>
  </head>
  <body>
    <%- include('navbar'); %>
    <div class="container" id="projects-container">
      <div class="row">
        <div class="col">
          <div class="project">
            <a href="" id="link-1" target="_blank"><h5 id="project-1"></h5></a>
            <img src="/images/logo-5.png" alt="logo-profile">
            <div class="data">
              <span>Language: </span><span id="language-1"></span><br>
              <span>Stars: </span><span id="stars-1"></span><br>
              <span>Watchers: </span><span id="watchers-1"></span><br>
              <span>Description: </span><span id="description-1"></span><br>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="project">
            <a href="" id="link-2" target="_blank"><h5 id="project-2"></h5></a>
            <img src="/images/logo-5.png" alt="logo-profile">
            <div class="data">
              <span>Language: </span><span id="language-2"></span><br>
              <span>Stars: </span><span id="stars-2"></span><br>
              <span>Watchers: </span><span id="watchers-2"></span><br>
              <span>Description: </span><span id="description-2"></span><br>
            </div>
          </div>
        </div>
      </div>
      <div class="container" id="second-cont">
        <div class="container" id="container-1">
          <h3>FOUND A BUG?!</h3>
          <span>Let me know with a pull request!</span><br>
          <button class="btn btn-sm btn-outline-secondary" id="github"><a href="https://github.com/mattia-dok/">Github</a></button>
        </div>
        <div class="container" id="container-2">
          <h3>WANNA CONTRIBUTE?!</h3>
          <button class="btn btn-sm btn-outline-secondary" id="contact-me"><a href="/contacts">Contact me</a></button>
        </div>
      </div>
    </div>
  </body>
</html>
