<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MF - Projects</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%- include('../../partials/includes'); %>
  </head>
  <body>
    <%- include('navbar'); %>
    <div class="container" id="projects-container">
      <div class="row">
        <div class="col">
          <div class="project">
            <h5 id="project-1"></h5>
            <img src="/images/logo-profile.png" alt="logo-profile">
            <div class="data">
              <span>Language: </span><span id="language-1"></span><br>
              <span>Stars: </span><span id="stars-1"></span><br>
              <span>Watchers: </span><span id="watchers-1"></span><br>
              <span>Description: </span><span id="description-1"></span><br>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="project">
            <h5 id="project-2"></h5>
            <img src="/images/logo-profile.png" alt="logo-profile">
            <div class="data">
              <span>Language: </span><span id="language-2"></span><br>
              <span>Stars: </span><span id="stars-2"></span><br>
              <span>Watchers: </span><span id="watchers-2"></span><br>
              <span>Description: </span><span id="description-2"></span><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>