body {
  font-family: "Gravity Regular";
  background-color: #313131;
  color:#FFFFFF;
}

a {
  text-decoration: none;
}

#logo-profile {
  width: 200px;
  height: 200px;
  margin: 80px 50px 20px 0;
}

#presentation {
  color: #FFFFFF;
}

#container-1 {
  margin: 0 50px 10px 450px;
}

#container-2 {
  width: 60%;
  margin: -220px 10px 30px 250px;
}

.sites {
  margin: 5px 20px 5px 0;
  color:#FFFFFF;
}

.sites:hover {
  cursor: pointer;
}

#instagram {
  width: 120px;
  height: 60px;
  filter: invert(100%) sepia(0%) saturate(5%) hue-rotate(126deg) brightness(103%) contrast(103%);
}

#instagram:hover {
  filter: invert(100%) sepia(0%) saturate(5%) hue-rotate(126deg) brightness(80%) contrast(103%);
}

#github {
  width: 90px;
  height: 40px;
  filter: invert(100%) sepia(0%) saturate(5%) hue-rotate(126deg) brightness(103%) contrast(103%);
  margin: -15px 0 0 0;
}

#github:hover {
  filter: invert(100%) sepia(0%) saturate(5%) hue-rotate(126deg) brightness(80%) contrast(103%);
}

#twitter {
  width: 90px;
  height: 40px;
  filter: invert(100%) sepia(0%) saturate(5%) hue-rotate(126deg) brightness(103%) contrast(103%);
  margin: -15px 0 0 -20px;
}

#twitter:hover {
  filter: invert(100%) sepia(0%) saturate(5%) hue-rotate(126deg) brightness(80%) contrast(103%);
}

#fiverr {
  width: 90px;
  height: 40px;
  filter: invert(100%) sepia(0%) saturate(5%) hue-rotate(126deg) brightness(103%) contrast(103%);
  margin: -15px 0 0 -20px;
}

#fiverr:hover {
  filter: invert(100%) sepia(0%) saturate(5%) hue-rotate(126deg) brightness(80%) contrast(103%);
}

#upwork {
  width: 90px;
  height: 40px;
  filter: invert(100%) sepia(0%) saturate(5%) hue-rotate(126deg) brightness(103%) contrast(103%);
  margin: -10px 0 0 0;  
}

#upwork:hover {
  filter: invert(100%) sepia(0%) saturate(5%) hue-rotate(126deg) brightness(80%) contrast(103%);
} 

#freelancer {
  width: 120px;
  height: 60px;
  filter: invert(100%) sepia(0%) saturate(5%) hue-rotate(126deg) brightness(103%) contrast(103%);
  margin: -10px 0 0 -5px;  
}

#freelancer:hover {
  filter: invert(100%) sepia(0%) saturate(5%) hue-rotate(126deg) brightness(80%) contrast(103%);
}

#line {
  margin: 0 0 15px 0;
}