@font-face {
  font-family: "Gravity Regular";
  src: url("../fonts/Gravity-Regular.woff") format("woff");
}

@font-face {
  font-family: "Gravity Bold";
  src: url("../fonts/Gravity-Bold.woff");
}

@font-face {
  font-family: "mononoki Regular";
  src: url("../fonts/mononoki-Regular.woff") format("woff");
}

@font-face {
  font-family: "mononoki Bold";
  src: url("../fonts/mononoki-Bold.woff");
}