body {
  font-family: "Gravity Regular";
  background-color: #313131;
  color:#FFFFFF;
}

h3, span {
  color:#FFFFFF;
}

.project {
  font-family: "Gravity Bold";
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
}

.project h5 {
  padding: 10px 10px 10px 10px;
  text-align: center;
}

.project img {
  display: block;
  width: 70px;
  height: 70px;
  margin-right: auto;
  margin-left: auto;
}

.data {
  font-family: "Gravity Regular";
  padding: 10px 10px 10px 10px;
}

#projects-container {
  padding: 50px 10px 50px 10px;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

a:hover {
  color: rgba(255, 255, 255, 0.5);
}

#github, #contact-me {
  border: none;
}

#github {
  background-color: #198754;
  margin: 10px 0 10px 0;
}

#contact-me {
  background-color: #dc3545;
}

#second-cont {
  margin: 25px 0 0 0;
}

#container-2 {
  margin: 25px 0 0 0;
}