<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MF - Contacts</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%- include('../../partials/includes'); %>
  </head>
  <body>
    <%- include('navbar'); %>
    <div class="container col-sm-3 d-flex flex-column align-items-center" id="cont">
      <h4 id="contact-me">CONTACT ME</h4>
      <div class="input-group input-group-sm mb-3">
        <input type="text" class="form-control" placeholder="Name:"><br>
      </div>
      <div class="input-group input-group-sm mb-3">
        <input type="text" class="form-control" placeholder="Email Address:"><br>
      </div>
      <div class="input-group input-group-sm mb-3">
        <input type="text" class="form-control" placeholder="Subject:"><br>
      </div>
      <div class="input-group input-group-sm mb-3">
        <textarea class="form-control" placeholder="Message:" rows="4"></textarea>
      </div>      
      <input type="button" value="Send" id="button">
    </div>
  </body>
</html>