<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mattia Forlin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%- include('../../partials/includes'); %>
  </head>
  <body>
    <%- include('navbar'); %>
    <div class="image">
      <div class="container" id="presentation">
        <h1 id="name">MATTIA FORLIN</h1>
        <span id="role">Generic Developer, UX/UI Designer</span>
      </div>
      <div class="container d-flex justify-content-evenly" id="social-links">
        <div class="p-2 bd-highlight"><a href="https://www.instagram.com/aittam00/" target="_blank"><img src="/images/instagram.svg" alt="Instagram" id="social-icon"></a></div>
        <div class="p-2 bd-highlight"><a href="https://github.com/mattia-dok" target="_blank"><img src="/images/github.svg" alt="Github" id="social-icon"></a></div>
        <div class="p-2 bd-highlight"><a href="https://twitter.com/__mattia02" target="_blank"><img src="/images/twitter.svg" alt="Twitter" id="social-icon"></a></div>
      </div>
    </div>
  </body>
</html>