<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MF - About Me</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%- include('../../partials/includes'); %>
  </head>
  <body>
    <%- include('navbar'); %>
    <div class="container" id="container-1">
      <img src="/images/logo-profile.png" alt="logo-profile" id="logo-profile">
      <div class="container" id="container-2">
        <div id="presentation">
          Hi!.
          It's me Mattia Forlin, welcome to my portfolio. I am generic developer, as I like to call myself because i work on different technologies with different programming languages, and a first year computer science student at the University of Venice Ca' Foscari (Italy). So like you can imagine i am a Italian native speaker, however i have a great level of English. In the past few years i have worked on many projects alongside with my school career and i have learned a lot by myself about web and mobile development, UX/UI design, networking, electronic circuits and ethical hacking. I have advanced knowledge in C as well as building this websites using responsive web technologies. My goal is to revolution the technology's world thanks to the AI and machine learning technologies. Additionally i am a hobbyist videomaker and graphics designer, but this only since 2021 so i'm still a beginner.
        </div>
      </div>
      <h5>you can find me on:</h5>
      <a class="sites"><img src="/images/instagram-1.svg" alt="instagram" id="instagram"></a>
      <a class="sites"><img src="/images/github-2.svg" alt="github" id="github"></a>
      <a class="sites"><img src="/images/twitter.svg" alt="twitter" id="twitter"></a>
      <a class="sites"><img src="/images/fiverr.svg" alt="fiverr" id="fiverr"></a>
      <a class="sites"><img src="/images/upwork.svg" alt="upwork" id="upwork"></a>
      <a class="sites"><img src="/images/freelancer.svg" alt="freelancer" id="freelancer"></a>
    </div>
  </body>
</html>